* {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

body {
  background: radial-gradient(circle, #fff, #ccc);
  padding: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 1fr;
  grid-template-rows: repeat(4, 100px);
  border: 3px solid black;
}

.grid-item {
  border: 1px solid black;
}

.grid-item:nth-child(1) {
  background: #055;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}