* {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 30px;
}

div {
  display: block;
  background: green;
  position: absolute;
}

div div {
  height: 90px;
  width: 90px;
  background: yellow;
}

.contenedor {
  border: 4px solid red;
  margin: 60px auto;
  position: relative;
  height: 450px;
  width: 450px;
}

.caja1 {
  top: 0;
}

.caja2 {
  right: 0;
}

.caja3 {
  bottom: 0;
  right: 0;
}

.caja4 {
  bottom: 0;
}


/* Centrar en un contenedor */

.caja5 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}