* {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

:root {
  --color-rojo: red;
}

div {
  padding: 30px;
  height: 150px;
  width: 150px;
  margin: 30px;
}

p {
  --color-rojo: rgb(164, 36, 36);
  height: 100px;
  width: 100px;
  background: var(--color-rojo);
}

.container {
  background: var(--color-rojo);
}

.container-2 {
  background: blue;
}